<div class="jumbotron">
  <h1><%= @question.category.name %></h1><br>
  <p><%= @question.question %></p><br>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Write Memory</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Skip and get another</a></p>
</div>