<div class="jumbotron">
  <h1>School Days</h1><br>
    <p class="lead">The playground was an important part of childhood.  When you reflect on those days playing outside, what specific memories jump to mind?  Think about the sounds and the smells of the playground.  Visualize the area - draw a little map if it helps.  Write whatever comes to mind when thinking about being on the playground. Enjoy!</p><br>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Write Memory</a>
    
    <a class="btn btn-primary btn-lg" href="#" role="button">Skip and get another</a>

    <a class="btn btn-danger btn-lg" href="#" role="button">Skip Forever</a></p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <%= image_tag "shutterstock_142234237.jpg", size: "335x200" %>
        <h3>Close your eyes</h3>
        <p>See yourself in the moment described above.  Bring it to life in your mind.  Step into the memory and have a look around.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <%= image_tag "brain.jpg", size: "335x200" %>
        <h3>Engage your senses</h3>
        <p>Sight, sound and smell are powerfully in memory evocation.  Think about each of these senses.  When you are engaged, begin to write.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <%= image_tag "writer.jpg", size: "335x200" %>
        <h3>Write with confidence</h3>
        <p>This is part of what made you who you are.  Own your story and write with abandon.  You can always edit later!</p>
      </div>
    </div>
  </div>
</div>
</div>