<!-- Jumbotron -->
      <div class="jumbotron">
        <h1>School Days</h1><br>
        <p class="lead">The playground was an important part of childhood.  When you reflect on those days playing outside, what specific memories jump to mind?  Think about the sounds and the smells of the playground.  Visualize the area - draw a little map if it helps.  Write whatever comes to mind when thinking about being on the playground. Enjoy!</p><br>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Write Memory</a>
        <a class="btn btn-lg btn-success" href="#" role="button">Skip and get another</a></p>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Ryan S. Buchholtz</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
