<h1> profile update <h1>

  <%= render 'form', user: @user %>

  <h5><%= link_to 'update username &/or password', edit_user_registration_path(current_user) %></h5><br>
  
    <h5><%= link_to 'contact us', new_contact_path %></h5><br>