<h1>your user profile</h2>
  <ul>
    <li>name</li>
    <li>clickable field</li>
    <li>another clickable field for updating</li>
  </ul>

<%= link_to 'edit your profile', edit_user_path(current_user) %>