
<!DOCTYPE html>
<html lang="en">

  <body>
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Your story, Your way!</h1>
        <p class="lead">Your story is <i>the</i> most important story. Tell it today! Easy exercises to begin building your autobiography. Preserve your past and share favorite stories with friends and family. Build a collaborative timeline of the events that made you, You.</p>
        <% if user_signed_in? %>
        <p><%= link_to "Your Dashboard", dashboard_index_path, :class => "btn btn-lg btn-success" %></p>
        <% else %>
        <p><%= link_to "Get Started Today", new_user_registration_path, :class => "btn btn-lg btn-success" %></p>
        <% end %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Power of Story</h2>
          <p>Every one of us has a story.  And each of those stories is worthy of preservation.  Maybe for you, and maybe for others.  Put pen to paper today and begin to capture all the neat things that made you who you are.  Start Today!  </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Wealth of Memory</h2>
          <p>There is an old saying - 'if you want your kids to remember you, cut them out of the will'.  We think there is an easier(and nicer) way.  Leave your story.  It's worth more than gold.  And it is one of the best gifts you can give anyone.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Mental Exercise</h2>
          <p>It's been shown, time and time again, that the brain needs to go to the 'gym' just like the rest of our body.  Consider Throwback your mental gym.  The health benefits, not just limited to mental vigor, might surprise you!</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Ryan Scott Buchholtz 2014</p>
      </div>

    </div> <!-- /container -->
    
  </body>
</html>
