<div class="border-form-div">
  <h1> Edit Question <h1>

<%= simple_form_for([:admin, @question]) do |f| %>
  <div class="form-inputs">
    <%= f.input :question, label: false, autofocus: true, placeholder: 'Question' %>
    <%= f.association :category, label: false, autofocus: true, placeholder: 'Category Name' %>
  </div><br>
  <div class="form-actions">
    <%= f.button :submit, "Save", :class => "btn btn-primary" %>
  </div>
<% end %>
<br>

</div>