<div class="border-form-div">
  <h1>Edit Category</h1>

<%= simple_form_for(@category) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, label: false, autofocus: true %>
  </div><br>
  <div class="btn-group">
    <%= link_to "Cancel", categories_path, :class => "btn btn-primary" %>
    <%= f.button :submit, "Update", :class => "btn btn-primary" %>
  </div>
<% end %>
<br>

</div>