<br><br><br><br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img><%= image_tag "Ryan.jpg", class: "img-responsive" %></img>
      <div class="caption">
        <h3>Ryan S. Buchholtz</h3>
        <p>Blank page intimidation is very powerful!  Throwback helped to get rid of that mental block by asking me specific questions that inspired me to write.  I like that I can skip questions if I'm not ready to write about them and that they will be presented to me again in the future.</p>
        <p><a href="#" class="btn btn-primary" role="button">Read More</a> 
      </div>
    </div>
  </div>
  <!--
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Jane P. Doe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis, sapien dictum tempus rhoncus, nisi neque ornare leo, ut varius mauris nunc sit amet tellus. Integer vitae risus tortor. Duis feugiat nec tellus nec malesuada. Phasellus magna elit, cursus quis mollis nec, tempus sit amet ma...</p>
        <p><a href="#" class="btn btn-primary" role="button">Read More</a>
      </div>
    </div>
  </div>
 
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>John W. Smith</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis, sapien dictum tempus rhoncus, nisi neque ornare leo, ut varius mauris nunc sit amet tellus. Integer vitae risus tortor. Duis feugiat nec tellus nec malesuada. Phasellus magna elit, cursus quis mollis nec, tempus sit amet ma...</p>
        <p><a href="#" class="btn btn-primary" role="button">Read More</a>
      </div>
    </div>
  </div>
</div>
-->